<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Free TON League Championships</title>
  <link rel="stylesheet" href="/static/css/core.css">
  <link rel="stylesheet" type="text/css" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" 
</head>
<body>
<div class="my-login">
	<div class="my-login-title">FREETON<span>LEAGUE</span></div>
	<div class="my-login-subtitle">
	    Log in with your <b>Steam Account</b> which you played on <b>Free TON Tournaments</b> on <b>Faceit</b>
	</div>
	<a href="/steam/authenticate">
		<div class="my-login-container">
			<div class="my-login-container-text">
				Steam Login <i class="fa fa-steam"></i>
			</div>
		</div>
	</a>
</div>
</body>
</html>